body{
	background-color: #c0f0ee;
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.topnav {
	background-color: steelblue;
	line-height: 40px;
	 margin-top: 0;

}
.topnav a{
	color: white;
    text-decoration: none;

}
.rights {
	float: right;
	padding: 0 1.66%;
}
.topnav a:nth-of-type(1){
	padding-left: 1.66%;
}
#profilediv{
	margin-right: auto;
	margin-left: auto; 
	width: 50%;
	margin-top: 10px;
}
.intro{
	text-align: center;
	margin:0px 50px;
}
#profilepic{
	width:50%;
	max-width: 200px;
	margin-left: 44%;
	margin-right: 44%;
	margin-top: 10px;
	border-radius: 50%;
	height: auto;
	max-height: 200px;
}
.aboutme{
	text-align: center;
}
.skillsandeducation h2{
	text-align: center;

}
.contact{
	text-align: center;
}
.grad1{
	background-image: linear-gradient(to right, red , #f5c5c4);
	border-radius:45%;
	text-align:center;
	height: 50px;
}
.grad2{
	background-image: linear-gradient(to right, green , #bdf799);
	border-radius:45%;
	text-align:center;
	height: 50px;
}
.grad3{
	background-image: linear-gradient(to right, blue , #94b6f2);
	border-radius:45%;
	text-align:center;
	height: 50px;
}
.rest{
	margin:0 20px;
}
.rectangle{
	width:22.5%;
	float:left;
	margin: 1.25%;
	padding:2px 0;
	background-color: #72829e;
	border-radius: 15%;
}
h1{
	text-decoration: underline;
}
h2{
	text-decoration: underline;
}
